/*------------------------------------*\
    #COLORS
\*------------------------------------*/


$charcoal: #414141;
$coral-candy: #F5D2CC;

$celery: #B4BE55;
$mindaro: #E5FA81;
$burnt-sienna: #FF6702;
$light-sienna: #ff6e24;
$shiraz: #B10025;
$burnt-crimson: #5C1A26;

$white-lilac: #f8f8f8;
$cream: #F0EFDA;
$light-blue: #D2F2FF;

$white: #FFFFFF;
$black: #000000;
$dark-gray: $charcoal;
$light-back: $cream;
$white-gray: $white-lilac;



$blush: $coral-candy;
$darkest-bright: $burnt-crimson;
$bright-mid: $shiraz;
$contrast-bright: $mindaro;
$contrast-mid: $celery;
$neutral: $burnt-sienna;
$neutral-light: $light-sienna;
