.head {

}

.copy {
  font-size: 35px;
  font-weight: $light;
  font-family: $sans-serif;
  padding: 1em 5em 0;
  line-height: 40px;
}

.p2 {
  padding-top: 1em;
}

.about-fox {
  width: 230px;
  height: 100%;
  float: right;
  padding: 0 5em 1em 0;
  opacity: .8;
}
