/*------------------------------------*\
    #INDEX
\*------------------------------------*/
* {
  margin: 0;
}
html,
body {
  height: 100%;
  background-color: $white;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
.opaque {
  opacity: $translucent;
}
.text-shadow {
  text-shadow: $default-text-shadow;
}
.footer {
  height: 110px;
  font-family: $sans-serif;
  background-color: $blush;
  background-image: url("images/ricepaper2.png");
  padding: 1%;
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-box-shadow: $top-shadow-safari;
  -moz-box-shadow: $top-shadow-moz;
  box-shadow: $top-shadow;
}
.footer-fox {
  width: 90px;
  height: 100%;
  float: left;
  margin-left: 0.6%;
}
.contact {
  margin-top: 2.25%;
  .contact-spacing {
    @include shift(.2);
  }
  .contact-icon {
    color: $neutral-light;
  }
  .contact-copy {
    color: $dark-gray;
    font-weight: $light;
    font-size: 20px;
  }
}
a.contact-spacing:hover {
  @include shift(.2);
  .contact-icon {
    color: $neutral-light;
    text-shadow: $contact-hover-shadow;
    transition: 50ms;
    -webkit-transition: 50ms;
  }
  .contact-copy {
    color: $black;
    text-shadow: $contact-hover-shadow;
    transition: 50ms;
    -webkit-transition: 50ms;
    font-size: 20px;
  }
}
.info-header {
  height: 110px;
  background-color: $white;
  background-image: url("images/ricepaper2.png");
  padding: 0.358%;
  -webkit-box-shadow: $default-shadow-safari;
  -moz-box-shadow: $default-shadow-moz;
  box-shadow: $default-shadow;
}
.title {
  font-family: $sans-serif;
  padding-left: 1em;
  letter-spacing: -1px;
  @include span-columns(5);
  @include shift(.1);
}
a.home-link {
  text-decoration: none;
}
a.home-link:hover {
  .name {
    transition: 30ms;
    -webkit-transition: 30ms;
    opacity: $lighter;
  }
  .role {
    transition: 30ms;
    -webkit-transition: 30ms;
    opacity: $lighter;
  }
}
.name {
  font-family: $display;
  font-size: 60px;
  color: $neutral;
  line-height: 1.3em;
}
.role {
  font-size: 20px;
  font-family: $sans-serif;
  letter-spacing: 0.15px;
  color: $dark-gray;
}
.site-nav {
  margin-top: 45px;
  font-family: $sans-serif;
  float: right !important;
  padding-right: 1em;
  @include span-columns(5);
}
a.nav {
  text-decoration: none;
  color: $dark-gray;
  font-size: 24px;
  text-align: center;
  font-weight: $light;
  float: right;
  @include span-columns(2.4 of 5);
  @include omega;
}
a.nav:hover {
  text-decoration: none;
  color: $dark-gray;
  font-family: $sans-serif;
  font-size: 26px;
  text-align: center;
  font-weight: $normal;
  float: right;
  transition: 300ms;
  -webkit-transition: 300ms;
  text-shadow: $nav-hover-shadow;
  @include span-columns(2.4 of 5);
  @include omega;
}
.hero {
  font-family: $display;
  @include shift(.4);
  padding-top: 3%;
}
.story-curious {
  padding: 1em 0.5em 0 1.75em;
  background-color: $neutral-light;
  @include span-columns(3.15);
  @include shift(.18);
  @include omega;
  .tagline {
    font-size: 24px;
    font-family: $sans-serif;
    font-weight: $thin;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .story-pic {
    width: 90%;
    height: auto;
    background-color: $white;
  }
}
.story-travel {
  padding: 1em 0 0 1.5em;
  background-color: $neutral-light;
  @include span-columns(4.2);
  @include shift(.18);
  @include omega;
  .tagline {
    font-size: 24px;
    font-family: $sans-serif;
    font-weight: $thin;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .story-pic {
    width: 90%;
    height: auto;
    background-color: $white;
  }
}
.story {
  -webkit-box-shadow: $default-img-shadow-safari;
  -moz-box-shadow: $default-img-shadow-moz;
  box-shadow: $default-img-shadow-chrome;
}


@media all and (max-width:1100px) {
  .hero {
    @include shift(.8);
    padding-top: 2%;
  }
  .story-curious {
    padding: 1em 0.5em 0 1.75em;
    @include span-columns(3.25);
    @include shift(.18);
    @include omega;
    .tagline {
      @include shift(-.5);
    }
  }
  .story-travel {
    @include span-columns(4.4);
    @include shift(.18);
    @include omega;
    .tagline {
      @include shift(-.5);
    }
  }
}

@media all and (max-width:920px) {
  .hero {
    @include shift(.5);
    padding-top: 3%;
  }
  .story-curious {
    @include span-columns(3.4);
    @include shift(.18);
    @include omega;
    .tagline {
      font-size: 20px;
      padding-top: .5em;
      @include shift(-1);
    }
  }
  .story-travel {
    padding: 1em 0 0 1.5em;
    background-color: $neutral-light;
    @include span-columns(4.5);
    @include shift(.18);
    @include omega;
    .tagline {
      font-size: 20px;
      @include shift(-1);
    }
  }
}


@media all and (max-width:825px) {
  .footer {
    height: 95px;
    font-family: $sans-serif;
    background-color: $blush;
    background-image: url("images/ricepaper2.png");
    padding: 1%;
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-box-shadow: $top-shadow-safari;
    -moz-box-shadow: $top-shadow-moz;
    box-shadow: $top-shadow;
  }
  .footer-fox {
    width: 80px;
    height: 100%;
    float: left;
    margin-left: 0.5%;
  }
  .contact {
    margin-top: 2.25%;
    .contact-spacing {
      @include shift(.15);
    }
    .contact-icon {
      color: $neutral-light;
    }
    .contact-copy {
      color: $dark-gray;
      font-weight: $normal;
      font-size: 18px;
    }
  }
  a.contact-spacing:hover {
    @include shift(.2);
    .contact-icon {
      color: $neutral-light;
      text-shadow: $contact-hover-shadow;
      transition: 50ms;
      -webkit-transition: 50ms;
    }
    .contact-copy {
      color: $black;
      transition: 50ms;
      -webkit-transition: 50ms;
      font-size: 18px;
    }
  }
  .info-header {
    height: 100px;
    background-color: $white;
    background-image: url("images/ricepaper2.png");
    padding: 0.358%;
    -webkit-box-shadow: $default-shadow-safari;
    -moz-box-shadow: $default-shadow-moz;
    box-shadow: $default-shadow;
  }
  .title {
    font-family: $sans-serif;
    padding-left: 1em;
    letter-spacing: -1px;
    @include span-columns(5);
    @include shift(.1);
  }
  .name {
    font-size: 56px;
  }
  .role {
    font-size: 16px;
    letter-spacing: 0.05px;
    padding-top: 3px;
  }
  .hero {
    overflow-y: scroll;
    padding-top: 2%;
    @include shift(1);

  }
  .story-curious {
    padding: 1em 0em 0 1.5em;
    margin-bottom: 1.5em;
    @include shift(2.65);
    @include span-columns(6);
    @include omega;

    .story-pic {
      width: 90%;
      height: auto;
      background-color: $white;
    }
    .tagline {
      font-size: 20px;
      padding-top: .5em;
      @include shift(-1);
    }
  }
  .story-travel {
    padding: 1em 0 0 1.5em;
    margin-bottom: 1.5em;
    background-color: $neutral-light;
    @include span-columns(9);
    @include shift(1.1);
    @include omega;
    .tagline {
      font-size: 20px;
      @include shift(-1);
    }
  }
}
