/*------------------------------------*\
    #INDEX
\*------------------------------------*/

* {
  margin: 0;
}

html, body {
  height: 100%;

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.footer {
  height: 110px;
  font-family: $sans-serif;
  background-color: $blush;
  background-image: url("images/ricepaper2.png");
  padding: 1%;
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-box-shadow: $top-shadow-safari;
  -moz-box-shadow: $top-shadow-moz;
  box-shadow: $top-shadow;
}

.footer-fox {
  width: 90px;
  height: 100%;
  opacity: .9;
  float: right;
}

.info-header {
  height: 110px;
  background-color: $white;
  background-image: url("images/ricepaper2.png");
  padding: 0.358%;
  -webkit-box-shadow: $default-shadow-safari;
  -moz-box-shadow: $default-shadow-moz;
  box-shadow: $default-shadow;
}

.title {
  font-family: $sans-serif;
  padding-left: 1em;
  letter-spacing: -1px;
  @include span-columns(5);
  @include shift(.1);
}

.home-link {
  text-decoration: none;
}

.name {
 font-family: $display;
 font-size: 60px;
 color: $neutral;
 line-height: 1.3em;
 text-shadow: $default-text-shadow;
}

.role {
  font-size: 20px;
  font-family: $sans-serif;
  letter-spacing: .15px;
  color: $dark-gray;
}

.site-nav {
  margin-top: 45px;
  font-family: $sans-serif;
  float: right !important;
  @include span-columns(5);
  padding-right: 1em;
}

a.nav {
  text-decoration: none;
  color: $dark-gray;
  font-size: 20px;
  text-align: right;
  font-weight: $light;
  float: right;
  @include span-columns(2.3 of 5);
  @include omega;
}

.hero {
  font-family: $display;
  @include shift(.4);
  padding-top: 4%;
}

.story-curious {
  @include span-columns(3.15);
  @include shift(.18);
  @include omega;
  padding: 1em 0 0 0;
  background-color: $neutral-light;

  .tagline {
    font-size: 24px;
    font-family: $sans-serif;
    font-weight: $thin;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .story-pic {
    width: 250px;
    height: auto;
    padding: 0;
    background-color: $white;

    @include shift(.9);
  }
}

.story-travel {
  @include span-columns(4.2);
  @include shift(.18);
  @include omega;
  padding: 1em .5em .5em;
  background-color: $neutral-light;


  .tagline {
    font-size: 24px;
    font-family: $sans-serif;
    font-weight: $thin;
    text-align: center;
    padding-top: .5em;
    padding-bottom: 0.5em;
  }

  .story-pic {
    width: 350px;
    height: auto;
    background-color: $white;
    margin-left: 2%;
    margin-right: .1em;
    @include shift(.5);
  }
}

.story {
  -webkit-box-shadow: $default-img-shadow-safari;
  -moz-box-shadow: $default-img-shadow-moz;
  box-shadow: $default-img-shadow-chrome;
}
